        *
        {
            margin: 0;
            padding: 0;
        }
        
        .bot
        {
            background-color:rgba(126, 16, 199, 0.822);
            font-family: sans-serif;
            color: #ffffff;
            width: 33%;
            float: left;
            margin-left: 33%;
            margin-top: 5%;

        }

        .acesso 
        { 
            width: 33%;
            float: center;
            margin-left: 7%;
            margin-top: 5%;
            size-adjust: 10px;
            border-top-style: outset;
            border-width: 3px;
            border-radius: 5px;
            background-color:rgb(107, 7, 138);
            font-family: sans-serif;
            color: #ffffff;
        }
        
        div
        {
            padding: 5;
            padding-left: 30px;
            float: left;
        }
        
        .barras
        {
            width: 50%;
            size-adjust: 15px;
            border-top-style: outset;
            border-width: 3px;
            border-radius: 5px;
            background-color:rgb(107, 7, 138);
            font-family: sans-serif;
            color: #ffffff;
        }
        
        .barras1
        {
            width: 50%;
            background-color: rgb(107, 7, 138);
            size-adjust: 5px;
            border-top-style: outset;
            border-width: 5px;
            border-radius: 7px;
            font-family: sans-serif;
            color: #ffffff;
            font-weight: 800;
        }

        #titulo 
        {
            font-family: sans-serif;
            color: #ffffff;
            margin-left: 7%;
        }        

        #subtitulo 
        {
            font-family: sans-serif;
            color: #ffffff;
            margin-left: 10%;
        } 
        #img 
        { 
            color: #ffffff;
            border-radius: 50%;
            margin-left: 12%;
        }
      
        body        
        {
            background-color: rgba(126, 16, 199, 0.822);
            font-family: sans-serif;
            font-size: 1em;
            color: #ffffff;
            margin-left: 30%;
            margin-top: 1%;
            justify-content: center;
            height: 100%;
            
        }

        .topnav
        {
            
            height: 33px;
            float: left;
            margin-left: 1%;
            margin-top: 1%;
        }
        
        .ranking 
        {
            width: 33%;
            float: left;
            margin-left: 60%;
            margin-top: -67%;
            size-adjust: 10px;
            border-top-style: outset;
            border-width: 3px;
            border-radius: 5px;
            background-color:rgb(107, 7, 138);
            font-family: sans-serif;
            color: #ffffff;
        }
        .contato
        {   
            position:absolute;
            right: 1150px;
            bottom: 150px;
            width: 15%;
            border-top-style: outset;
            border-width: 3px;
            border-radius: 5px;
            background-color:rgb(107, 7, 138);
            font-family: sans-serif;
            color: #ffffff;
        }
        .cr 
        {
            border-top-style: outset;
            font-size: 1.2em;
            background: rgb(107, 7, 138);
            border: 0;
            border-width: 3px;
            border-width: 3px;
            border-radius: 5px;
            margin-bottom: 1em;
            color: #ffffff;
            padding: 0.2em 0.6em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            position: right;
            top: 73%;
            left: 30.0%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        .cr1 
        {
            border-top-style: outset;
            font-size: 1.2em;
            background: rgb(107, 7, 138);
            border: 0;
            border-width: 3px;
            border-width: 3px;
            border-radius: 5px;
            margin-bottom: 1em;
            color: #000000;
            padding: 0.2em 0.6em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            position: right;
            top: 73%;
            left: 30.0%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

        a
        {
            color: #ffffff;
        }
        textarea
        {
            color: black;
            background-color: #ffffff;
            font-family: sans-serif;
            

        }
        table
        {
            color: rgb(107, 7, 138);
            border-collapse:separate;
            border-spacing: 0;
            margin-left: 0%;
            font-family: sans-serif;
            border-top-style: outset;
        }
        
        tr, td
        {
            padding: 10px 20px;
            
        } 
        
        .ca
        {
            font-family: sans-serif;
            font-size: 1em;
            color: #000000;
            border-radius: 5px;
        }
        
        .barras2
        {
            background-color: rgb(107, 7, 138);
            color: #ffffff;
        } 

        .ranking1 
        {
            width: 20%;
            float: left;
            margin-left: 60%;
            margin-top: -37%;
            size-adjust: 10px;
            border-top-style: outset;
            border-width: 3px;
            border-radius: 5px;
            background-color:rgb(107, 7, 138);
            font-family: sans-serif;
            color: #ffffff;
        }

        .cr2 
        {
            border-top-style: outset;
            font-size: 1.2em;
            background: rgb(165, 16, 211);
            border: 0;
            border-width: 3px;
            border-width: 3px;
            border-radius: 5px;
            margin-bottom: 1em;
            color: #ffffff;
            padding: 0.2em 0.6em;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            position: right;
            top: 73%;
            left: 30.0%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }